local_ln/
local/
rnnlm/
scripts/
src/
steps/
tools/
utils/
data/
conf/
exp/
!exp/chain/tdnn_6z_ceos_sp_online2/decode*/

03_make_chain_run_tdnn_6z.sh_old 
07_lm_interpolation_oovs.sh_old 
audio.wav 
cmd.sh 
command_kaldi_online_tcp.sh 
lm_interpolation.sh_old 
run.sh 
script_scores_odmr.sh 
topo_mkgraph_odmr.sh

scripts
steps
tools
rnnlm
local_ln
utils
src


